{% extends "admin/base_site.html" %}
{% load i18n admin_modify adminmedia %}
{% load url from future %}

{% block extrahead %}{{ block.super }}
{% url 'admin:jsi18n' as jsi18nurl %}
<script type="text/javascript" src="{{ jsi18nurl|default:"../../../jsi18n/" }}"></script>
{{ media }}
{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/forms.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}adminext/adminext/child_items.css" />
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}{{opts.app_label}}/css/{{opts.module_name}}.css" />
<style type="text/css">
    .colM fieldset.wide .vLargeTextField { width: 70em; }
    .vTextField, .ui-autocomplete-input { width: 70em; }
    {% block extrastyle_additional %}
    {% endblock %}
</style> 
{% endblock %}

{% block coltype %}{% if ordered_objects %}colMS{% else %}colM{% endif %}{% endblock %}

{% block bodyclass %}{{ opts.app_label }}-{{ opts.object_name.lower }} change-form{% endblock %}

{% block breadcrumbs %}{% if not is_popup %}
    <div class="breadcrumbs">
      <a href="{% url 'admin:index' %}">
        {% trans "Home" %}
      </a>
        &rsaquo; 
        {% block breadcrumbs_additional %}
          {% if not has_breadcrumbs %}  
            {% if has_change_permission %}
                <a href="../">{{ opts.verbose_name_plural|capfirst }}</a>
            {% else %}{{ opts.verbose_name_plural|capfirst }}
            {% endif %} &rsaquo; 
            {% if add %}{% trans "Add" %} {{ opts.verbose_name }}
            {% else %}{{ original|truncatewords:"18" }}
            {% endif %}
          {% else %}
            {% for breadcrumbs_part in breadcrumbs %}
                {% for name, location in breadcrumbs_part %}
                    {% if location != '' %}
                        <a href="{{location}}">{{ name }}</a>
                        {% if not forloop.last %}&rsaquo;{% endif %}
                    {% else %}
                        {{ name }}            
                    {% endif %}
                {% endfor %}
                {% if not forloop.last %}&rsaquo;{% endif %}
            {% endfor %}
          {% endif %}
        {% endblock %}
    </div>
{% endif %}{% endblock %}

{% block content_title %}{% if original %}<h1>{{ original }}</h1>{% else %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endif %}{% endblock %}

{% block content %}<div id="content-main">

{% block object-tools %}
{% if change %}{% if not is_popup %}
    <div id="child_links_container">
        {{child_links}}
        <a href="history/" class="history" title="{% trans "History" %}"></a>
    </div>
{% endif %}{% endif %}
{% endblock %}
<form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post" id="{{ opts.module_name }}_form">{% csrf_token %}{% block form_top %}{% endblock %}
<div>
{% if is_popup %}<input type="hidden" name="_popup" value="1" />{% endif %}
{% if save_on_top %}{% submit_row %}{% endif %}
{% if errors %}
    <p class="errornote">
    {% blocktrans count errors|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
    </p>
    {{ adminform.form.non_field_errors }}
{% endif %}

{% for fieldset in adminform %}
  {% include "admin/includes/fieldset.html" %}
{% endfor %}

{% block after_field_sets %}{% endblock %}

{% for inline_admin_formset in inline_admin_formsets %}
    {% include inline_admin_formset.opts.template %}
{% endfor %}

{% block after_related_objects %}{% endblock %}

{% block submit %}
{% submit_row %}
{% endblock %}

{% if adminform and add %}
   <script type="text/javascript">document.getElementById("{{ adminform.first_field.id_for_label }}").focus();</script>
{% endif %}

{# JavaScript for prepopulated fields #}
{% prepopulated_fields_js %}

</div>
</form>

{% block after_form %}{% endblock %}

</div>
{% endblock %}
