{% extends "admin/base_site.html" %}
{% load adminmedia admin_list i18n %}
{% load url from future %}
{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/changelists.css" />
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}adminext/adminext/child_items.css" />
  <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}{{app_label}}/css/{{cl.opts.module_name}}.css" />
  {% if cl.formset %}
    <link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/forms.css" />
    <script type="text/javascript" src="{% url jsi18n %}"></script>
  {% endif %}
  {% if cl.formset or action_form %}
    {% url 'admin:jsi18n' as jsi18nurl %}
    <script type="text/javascript" src="{{ jsi18nurl|default:'../../jsi18n/' }}"></script>
  {% endif %}
  {{ media.css }}
  {% block extrastyle_additional %}
  {% endblock %}
  {% if not actions_on_top and not actions_on_bottom %}
    <style>
      #changelist table thead th:first-child {width: inherit}
    </style>
  {% endif %}
{% endblock %}

{% block extrahead %}
{{ block.super }}
{{ media.js }}
{% if action_form %}{% if actions_on_top or actions_on_bottom %}
<script type="text/javascript">
(function($) {
    $(document).ready(function($) {
        $("tr input.action-select").actions();
    });
})(django.jQuery);
</script>
{% endif %}{% endif %}
{% endblock %}

{% block bodyclass %}change-list{% endblock %}

{% if not is_popup %}
  {% block breadcrumbs %}
    <div class="breadcrumbs">
      <a href="{% url 'admin:index' %}">
        {% trans "Home" %}
      </a>
        &rsaquo; 
        {% block breadcrumbs_additional %}
          {% if not has_breadcrumbs %}  
            {{ cl.opts.verbose_name_plural|capfirst }}
          {% else %}
            {% for breadcrumbs_part in breadcrumbs %}
                {% for name, location in breadcrumbs_part %}
                    {% if location != '' %}
                        <a href="{{location}}">{{ name }}</a>
                        {% if not forloop.last %}&rsaquo;{% endif %}
                    {% else %}
                        {{ name }}            
                    {% endif %}
                {% endfor %}
                {% if not forloop.last %}&rsaquo;{% endif %}
            {% endfor %}
          {% endif %}
        {% endblock %}
    </div>
  {% endblock %}
{% endif %}

{% block coltype %}flex{% endblock %}

{% block content_title %}<h1>{{module_name}}{% if parent %} {% blocktrans %}for {{parent}}{% endblocktrans %}{% endif %}</h1>{% endblock %}

{% block content %}
  <div id="content-main">
    {% block object-tools %}
        <ul class="object-tools">
        {% block extra-object-tools %}{% endblock %}
        {% if has_object_tools %}
            {% for tool_name, tool_url, tool_class in object_tools %}
              <li>
                <a href="{{tool_url}}" class="{% if tool_class %}{{tool_class}}{% else %}addlink{% endif %}">{{tool_name}}</a>
              </li>
            {% endfor %}
        {% else %}
          {% if has_add_permission %}
              <li>
                <a href="add/{% if is_popup %}?_popup=1{% endif %}" class="addlink">
                  {% blocktrans with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktrans %}
                </a>
              </li>
          {% endif %}
        {% endif %}    
        </ul>
    {% endblock %}
    {% if cl.formset.errors %}
        <p class="errornote">
        {% blocktrans count cl.formset.errors|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
        </p>
        {{ cl.formset.non_form_errors }}
    {% endif %}
    <div class="module{% if cl.has_filters %} filtered{% endif %}" id="changelist">
      {% block search %}{% search_form cl %}{% endblock %}
      {% block date_hierarchy %}{% date_hierarchy cl %}{% endblock %}

      {% block filters %}
        {% if cl.has_filters %}
          <div id="changelist-filter">
            <h2>{% trans 'Filter' %}</h2>
            {% for spec in cl.filter_specs %}{% admin_list_filter cl spec %}{% endfor %}
          </div>
        {% endif %}
      {% endblock %}

      <form id="changelist-form" action="" method="post"{% if cl.formset.is_multipart %} enctype="multipart/form-data"{% endif %}>{% csrf_token %}
      {% if cl.formset %}
        <div>{{ cl.formset.management_form }}</div>
      {% endif %}

      {% block result_list %}
          {% if action_form and actions_on_top and cl.full_result_count %}{% admin_actions %}{% endif %}
          {% result_list cl %}
          {% if action_form and actions_on_bottom and cl.full_result_count %}{% admin_actions %}{% endif %}
      {% endblock %}
      {% block pagination %}{% pagination cl %}{% endblock %}
      </form>
    </div>
  </div>
{% endblock %}
